[Unit]
Description=Run Tacahu Ops asset backup daily

[Timer]
OnCalendar=*-*-* 01:00:00
Persistent=true
RandomizedDelaySec=5m
Unit=tacahu-assets-backup.service

[Install]
WantedBy=timers.target
